{% extends 'base.html.twig' %}
{% block title %}
Ankieta
{% endblock %}
{% block witaj %}
    {{ include('default/zalogowano.html.twig')}}
{% endblock %}
{% block tresc %}
<div class="row justify-content-md-center">  	
	<div class="col-md-12">
		<p>Zapraszam do wypełnienia ankiety	</p>
		<a href="imie" class="btn btn-primary">
		Wypełnij ankietę	
		</a>
	</div>
</div> 
{% endblock %}